@model List<WebApplication2.Models.Gym>

@{
}

@if (User.IsInRole("SuperAdmin"))
{
    <p>
        <a class=" btn btn-outline-success" asp-action="AddGym">Add Gym</a>
    </p>
}
<table class="table text-light">
    <thead>
        <tr>
            <th>GymId</th>
            <th>GymName</th>
            <th>GymDesc</th>
            <th>GymAddress</th>
            <th>Owner</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var gym in Model)
        {
            <tr>
                <td>@gym.id</td>
                <td>@gym.name</td>
                <td>@gym.description</td>
                <td>@gym.adress</td>
                <td><a asp-controller="Admin" asp-action="EditUser" asp-route-id="@gym.owner_id">@ViewBag.OwnerNames[gym.owner_id]</a></td>
                <td>@gym.price</td>
                <td>
                    <a class="btn btn-warning" asp-action="EditGym" asp-route-id="@gym.id">Edit</a> 
                    <a class="btn btn-danger" asp-action="DeleteGym" asp-route-id="@gym.id">Delete</a> 
                    <a class="btn btn-primary" asp-action="GymDetails" asp-route-id="@gym.id">View</a>
                </td>
            </tr>    
        }
    </tbody>
</table>

<script>

</script>