@model WebApplication2.Models.BookGymViewModel



<h1>Book Gym: @Model.GymName</h1>

<p>Select a date:</p>
<form asp-controller="Gym" asp-action="BookGym" method="get">
    <div class="form-group">
        <input type="date" name="selectedDate" value="@Model.SelectedDate.ToString("yyyy-MM-dd")" min="@DateTime.Now.ToString("yyyy-MM-dd")" max="@DateTime.Now.AddMonths(3).ToString("yyyy-MM-dd")" />
        <button type="submit" class="btn btn-primary">Select Date</button>
        <input type="hidden" name="gymId" value="@Model.GymId" />
    </div>
</form>

<form asp-controller="Gym" asp-action="BookGym" method="post">
        <input type="hidden" name="gymId" value="@Model.GymId" />
        <input type="hidden" name="bookingDate" value="@Model.SelectedDate.ToString("yyyy-MM-dd")" />

 @foreach (var slot in ViewBag.AvailableSlots)
    {
        if (slot.AvailableSports.Count > 0)
        {
            <div class="form-check ">
                <p class="form-check-label">@slot.BookingHour:00 - @(slot.BookingHour + 1):00</p>
                @foreach (var sport in slot.AvailableSports)
                {
                    <input class="form-check-input" type="radio" name="selectedSlot" value="@($"{slot.BookingHour}_{sport.SportId}")">
                    <p class="form-check-label">@sport.SportName</p>
                }
            </div>
        }
    }

        <button type="submit" class="btn btn-primary">Book</button>
</form>
