@model WebApplication2.Models.BookGymViewModel

@if(TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger ">@TempData["ErrorMessage"]</div>
}
@if(TempData["GoodMessage"] != null)
{
    <div class="alert alert-success">@TempData["GoodMessage"]</div>
}
<h1>Book Gym: @Model!.GymName</h1>

<p>Select a date:</p>
<form asp-controller="Gym" asp-action="BookGym" method="get">
    <div class="form-group">
        <input type="date" name="selectedDate" value="@Model.SelectedDate.ToString("yyyy-MM-dd")" min="@DateTime.Now.ToString("yyyy-MM-dd")" max="@DateTime.Now.AddMonths(3).ToString("yyyy-MM-dd")" />
        <button type="submit" class="btn btn-primary">Select Date</button>
        <input type="hidden" name="gymId" value="@Model.GymId" />
    </div>
</form>

<form asp-controller="Gym" asp-action="BookGym" method="post" id="bookForm">
        <input type="hidden" name="gymId" value="@Model.GymId" />
        <input type="hidden" name="bookingDate" value="@Model.SelectedDate.ToString("yyyy-MM-dd")" />
    <div class="form__carts">
 @foreach (var slot in ViewBag.AvailableSlots)
    {
        if (slot.AvailableSports.Count > 0)
        {
            
            <div class="form-check ">
                <p class="form-check-label">@slot.BookingHour:00 - @(slot.BookingHour + 1):00</p>
                @foreach (var sport in slot.AvailableSports)
                {
                    <div class="cart__text">
                            <input class="form-check-input" type="radio" name="selectedSlot" value="@($"{slot.BookingHour}_{sport.SportId}")">
                            <p>@sport.SportName</p>
                            <p>@sport.SportPrice</p>
                    </div>

                }
            </div>
          
        }
    }
    </div>
    <input  name="addToCalendar" value="false" hidden />
    <button type="submit" class="btn btn-primary">Book</button>
</form>

<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content p-5">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">You want to add event to calendar?</h5>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-around w-100">
                    <button type="button" class="btn btn-secondary w-50 m-1" id="no">No</button>
                    <button type="button" class="btn btn-primary w-50 m-1" id="yes">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        let selected = false;
        $(document).ready(function () {
            $('#yes').click(function () {
                selected = true;
                $("input[name='addToCalendar']").val("true");
                $("#bookForm").submit();
            });
            $('#no').click(function () {
                selected = true;
                $("input[name='addToCalendar']").val("false");
                $("#bookForm").submit();
            })

            $('#bookForm').submit(function (event) {
                if (selected == false) {
                    event.preventDefault();
                    $('#confirmModal').modal('show');
                }
            });
        });
    </script>
}