@model WebApplication2.Models.GymView
<h1>Gym Details</h1>
<div class="detail__container">
<div>
    <h4>Gym Name:</h4>
    <p>@Model.Name</p>
</div>

<div>
    <h4>Gym Description:</h4>
    <p>@Model.Description</p>
</div>

<div>
    <h4>Gym Address:</h4>
    <p>@Model.Address</p>
</div>
<div>
    <h4>Gym Price:</h4>
    <p>@string.Format(new System.Globalization.CultureInfo("uk-UA"), "{0:C}", Model.Price)</p>
</div>
<div>
    <h4>Accessories:</h4>
    <div class="gym__list">
        @foreach (var accessory in Model.Accessories)
        {
            <p class="gym__item">@accessory.name</p>
        }
    </div>
    <div>
    <h4>Sports:</h4>
    <div class="gym__list">
        @foreach (var sport in Model.Sports)
        {
            <p class="gym__item">@sport.name</p>
        }
    </div>
</div>
<div>
    <a asp-controller="Gym" asp-action="BookGym" asp-route-gymId="@Model.Id" class="btn btn-primary">Order a gym</a>
</div>
</div>
</div>
