
@model List<WebApplication2.Models.BookingOrder>
@if(TempData["InfoMessage"] != null)
{
    <div class="alert alert-info">@TempData["InfoMessage"]</div>
}

    <div>
        @foreach(var order in Model)
        {
       <div class="order__container">
            <p><span class="text__span">ID:</span>  @order.Id</p>
            <p><span class="text__span">GYMID:</span>  @order.GymId</p>
            <p><span class="text__span">DATE:</span>  @order.BookingDate.ToString("yyyy-MM-dd")</p>
            <p><span class="text__span">HOURS:</span>  @order.BookingHour:00 - @(order.BookingHour + 1):00</p>
            <p><span class="text__span">ORDERDATE:</span>  @order.OrderDate.ToString("yyyy-MM-dd H:mm")</p>
        </div>    
        }
    </div>

