
@model List<WebApplication2.Models.Gym>

    <p>
        <a class=" btn btn-outline-success" asp-action="AddGym">Add Gym</a>
    </p>

@if(TempData["GoodMessage"] != null)
{
    <div class="alert alert-success">@TempData["GoodMessage"]</div>
}


    <div class="gyms__owneds">
        @foreach(var gym in Model)
        {
        <div class="gym__flex__own">
            <div>
                <p>Id: @gym.id</p>
            </div>
            
            <h3>Name: @gym.name</h3>
            <p>Description: @gym.description</p>
            <p>Adress: @gym.adress</p>
            <p>
                <a class="btn btn-warning" asp-controller="Gym" asp-action="EditGym" asp-route-id="@gym.id">Edit</a> |
                <a class="btn btn-danger" asp-controller="Gym" asp-action="DeleteGym" asp-route-id="@gym.id">Delete</a>
            </p>
        </div>    
        }
    </div>

